 @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;700&family=Open+Sans:ital@1&family=Outfit:wght@100..900&family=Roboto&display=swap');

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
     text-decoration: none;

 }

 .container {
     max-width: 1200px;
     padding: 0 30px;
     margin: auto;
 }

 .nav_items {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 40px;
     padding-bottom: 40px;
 }

 .nav_logo {
     display: flex;
     align-items: center;
     gap: 5px;
     color: #7842E8;
 }

 .nav_logo img {
     max-width: 40px;
 }

 .nav_logo h2 {
     font-weight: 400;
 }

 .nav_items ul {
     list-style: none;
     display: flex;
 }

 .nav_items ul li {
     padding-left: 40px;
     position: relative;
 }

 .nav_items ul li a {
     color: #2E2E32;
 }

 .nav_items ul li a:hover {
     color: #020202;
 }

 .dropdown_menu {
     display: none;
 }

 .nav_items ul li:hover .dropdown_menu {
     display: block;
     position: absolute;
     left: 0;
     top: 100%;
 }

 .dropdown_menu ul {
     display: block;
     margin: 10px;
 }

 .dropdown_menu ul li a {
     color: #462a79;
 }


 .nav_btn {
     display: flex;
     gap: 24px;
     align-items: center;
 }

 .nav_btn>a {
     color: #2E2E32;
 }

 .get_started_btn {
     padding: 12px 48px 12px 24px;
     border: solid 1px #7842E8;
     border-radius: 10px;
 }

 .get_started_btn a {
     color: #7842E8;
 }

 .get_started_btn>i {
     padding-left: 8.17px;
     color: #7842E8;
 }



 /* Navbar style end here */

 /* Hero style start here */

 .hero_content {
     padding-top: 120px;
 }

 .main_heading {
     max-width: 749px;
     min-height: 289px;
     margin: auto;
     text-align: center;


 }

 .main_heading h1 {
     font-size: 59px;
     line-height: 1.3em;
     font-weight: 600;
     padding-bottom: 24px;


 }

 .hero-p {
     max-width: 637px;
     min-height: 58px;
     margin: auto;

     font-family: Outfit;
     font-size: 18px;
     font-weight: 400;
     line-height: 28.8px;
     text-align: center;


 }



 .hero_btn {
     display: flex;
     justify-content: center;
 }

 .hero_left_btn {
     padding: 8px 16px;
     background-color: #7842E8;
     border-radius: 60px;
 }

 .hero_left_btn a {
     color: #ffff;
 }

 .hero_right_btn {
     display: flex;
     align-items: center;
     padding: 0px 18px 0 0px;
     gap: 10px;
     border: solid 1px #7842E8;
     border-radius: 60px;
 }

 /* HERO TAB SITE */

 .hero_all_tabs {
     display: flex;
     /* gap: 30px; */
     justify-content: space-between;
     padding-top: 72px;
     padding-bottom: 160px;
 }

 .first_tab {
     /* max-width: 360px; */
     text-align: center;
     padding: 32px 26px;
     border: solid #fff;
     box-shadow: 0px 0px 12px;
     border-radius: 24px;
 }

 .first_tab_middil {
     /* max-width: 360px; */
     text-align: center;
     padding: 32px 26px;
     border-top: solid 5px #7842E8;
     box-shadow: 0px 0px 12px;
     border-radius: 24px;
 }

 .first_tab_middil {
     /* max-width: 360px; */
 }

 .first_tab_middil img {
     max-width: 127.44px;
     padding-bottom: 20px;
 }

 .first_tab_middil h3 {
     font-weight: 500;
     font-size: 20px;
     color: #7842E8;
     padding-bottom: 24px;
 }

 .first_tab i {
     color: #7842E8;
 }

 .first_tab img {
     max-width: 127.44px;
     padding-bottom: 20px;
 }

 .first_tab h3 {
     font-weight: 500;
     font-size: 20px;
     color: #7842E8;
     padding-bottom: 24px;
 }

 .price {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .price h2 {
     font-size: 50px;
 }

 .price p {
     font-size: 18px;
     color: #3e3e3f;
     padding-top: 8px;
     padding-bottom: 8px;
 }



 .hr {
     max-width: 308px;
     border: dashed 0.5px #505050;

 }


 .manage_calendars {
     display: flex;
     align-items: center;
     gap: 5px;
     padding-top: 24px;
     padding-bottom: 9.5px;
 }

 .time_and_bill {
     display: flex;
     align-items: center;
     gap: 5px;


 }

 .favorite {
     display: flex;
     align-items: center;
     gap: 5px;
     padding-top: 9.5px;
     padding-bottom: 32px;
 }

 .time_and_bill,
 .manage_calendars p {
     font-size: 16px;
     font-weight: 500;
 }

 .time_and_bill,
 .manage_calendars {
     color: #2E2E32;
 }

 .first_tab_btn_1 {
     display: inline-block;
     padding: 12px 24px;
     border: solid 1px #7842E8;
     border-radius: 50px;
     margin-top: 32px;


 }

 .first_tab_btn a {
     font-size: 18px;
     font-weight: 500;
 }


 .first_tab_btn_2 {
     display: inline-block;
     padding: 12px 24px;
     border: solid 1px #7842E8;
     background-color: #7842E8;
     border-radius: 50px;
 }

 .first_tab_btn_2 a {
     font-size: 16px;
     line-height: 1.2em;
     color: #fff;
     font-weight: 500;
 }

 /* Hero style start here */



 /* section_3 style start here */

 .main_header {
     text-align: center;
     font-size: 42px;
     line-height: 1.3em;
     color: #2E2E32;
     padding-bottom: 16px;
 }

 .main_paragrap {
     text-align: center;
     font-size: 16px;
     line-height: 1.6em;
     color: #919099;
 }

 .boost_plan {
     text-align: center;
     display: flex;
     align-items: center;
     gap: 29.33px;
     padding-top: 64px;
     padding-bottom: 160px;
 }

 .plan {
     padding: 30px 20px;
 }

 .plan:hover {
     border: solid 0px #fff;
     box-shadow: 0px 2px 18px;
     border-radius: 10px;
     transition: all .2s;
 }

 .plan h2 {
     font-size: 22px;
     line-height: 1.4em;
     color: #2E2E32;
     padding-top: 10px;
     padding-bottom: 12px;
 }

 .plan p {
     font-size: 14px;
     line-height: 1.5999999999999999em;
     color: #919099;
 }

 /* section_3 style end here */


 /* section_4 style start here */

 .section_4_main_header {
     text-align: center;
     font-size: 42px;
     line-height: 1.3em;
     color: #2E2E32;
 }

 .section_4_main_paragrap {
     max-width: 800px;
     margin: auto;
     text-align: center;
     font-size: 16px;
     line-height: 1.6em;
     color: #919099;
     padding-top: 16px;
     padding-bottom: 64px;
 }

 .experence_and_overview {
     display: flex;
     gap: 97px;
 }

 .experince_part {
     padding-top: 66px;
     position: relative;
 }

 .trust_site_1 {
     position: relative;
     padding-left: 98px;
 }

 .experience_1 {
     max-width: 158px;
     position: absolute;
     left: -32px;
     top: -32px;
     padding-bottom: 48px;
 }


 .trust_site_1 h2 {
     font-size: 20px;
     line-height: 1.4em;
     color: #2E2E32;
 }

 .trust_site_1 p {
     font-size: 16px;
     line-height: 1.6em;
     color: #919099;
     padding-top: 12px;

 }

 .trust_site_2 {}

 .trust_site_2 h2 {
     text-align: end;
     font-size: 20px;
     line-height: 1.4em;
     color: #2E2E32;
 }

 .trust_site_2 {
     position: relative;
     padding-right: 48px;
     padding-top: 48px;
 }

 .experience_2 {
     max-width: 158px;
     position: absolute;
     right: -95px;
     top: 29px;
 }

 .trust_site_2 p {
     text-align: right;
     font-size: 16px;
     line-height: 1.6em;
     color: #919099;
     padding-top: 12px;
 }

 .trust_site_3 {
     padding-left: 98px;
     position: relative;
     padding-top: 48px;
 }

 .trust_site_3 h2 {
     font-size: 20px;
     line-height: 1.4em;
     color: #2E2E32;
     padding-bottom: 12px;

 }

 .trust_site_3 p {
     font-size: 16px;
     line-height: 1.6em;
     color: #919099;

 }

 .experience_3 {
     max-width: 158px;
     position: absolute;
     top: 32px;
     left: -32px;
 }

 .bg>img {
     position: absolute;
     top: 148px;
     left: 36px;
 }


 .over_view_part img {
     max-width: 543px;
     min-height: 582.23px;
     padding-bottom: 160px;
 }


 /* section_4 style end here */


 /* section_5 style start here */

 .sec_5_main_header {
     text-align: center;
     font-size: 42px;
     line-height: 1.3em;
     color: #2E2E32;
 }

 .sec_5_paragrap {
     max-width: 677px;
     margin: auto;
     text-align: center;
     font-size: 16px;
     line-height: 1.6em;
     color: #919099;
     padding-top: 16px;
     padding-bottom: 64px;
 }

 .section_5_two_site {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-bottom: 120px;
 }



 /* section_5 style end here */


 /* section_6 style start here */

 .sec_6_main_header {
     text-align: center;
     font-size: 42px;
     line-height: 1.3em;
     color: #2E2E32;
 }

 .sec_6_paragrap {
     max-width: 549px;
     margin: auto;
     text-align: center;
     font-size: 16px;
     line-height: 1.6em;
     color: #919099;
     padding-top: 20px;
     padding-bottom: 64px;
 }

 .FAQ_items {
     display: flex;
     justify-content: space-between;
     /* align-items: center; */
     padding-bottom: 150px;
 }

 .FAQ_img img {
     height: 420px;

 }

 /* @import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&display=swap");

 body {
     background: #fafafa;
 } */

 .accordion {
     display: flex;
     flex-direction: column;
     font-family: "Sora", sans-serif;
     max-width: 991px;
     min-width: 320px;
     margin: 50px auto;
     padding: 0 50px;
 }

 .accordion h1 {
     font-size: 32px;
     text-align: center;
 }

 .accordion-item {
     margin-top: 16px;
     border: 1px solid #fcfcfc;
     border-radius: 6px;
     background: #ffffff;
     box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
 }

 .accordion-item .accordion-item-title {
     position: relative;
     margin: 0;
     display: flex;
     width: 100%;
     font-size: 15px;
     cursor: pointer;
     justify-content: space-between;
     flex-direction: row-reverse;
     padding: 14px 20px;
     box-sizing: border-box;
     align-items: center;
 }

 .accordion-item .accordion-item-desc {
     display: none;
     font-size: 14px;
     line-height: 22px;
     font-weight: 300;
     color: #444;
     border-top: 1px dashed #ddd;
     padding: 10px 20px 20px;
     box-sizing: border-box;
 }

 .accordion-item input[type="checkbox"] {
     position: absolute;
     height: 0;
     width: 0;
     opacity: 0;
 }

 .accordion-item input[type="checkbox"]:checked~.accordion-item-desc {
     display: block;
 }

 .accordion-item input[type="checkbox"]:checked~.accordion-item-title .icon:after {
     content: "-";
     font-size: 20px;
 }

 .accordion-item input[type="checkbox"]~.accordion-item-title .icon:after {
     content: "+";
     font-size: 20px;
 }

 .accordion-item:first-child {
     margin-top: 0;
 }

 .accordion-item .icon {
     margin-left: 14px;
 }




 /* section_6 style end here */



 /* FOOTER section style start here */

 .footer-1 {
     background-color: #060615;
     color: #fff;
     display: none;

 }


 .footer_items {
     display: flex;
     justify-content: space-around;
     /* padding-top: 123px; */
     padding-bottom: 70px;
 }


 .logo_div img {
     max-width: 171px;
 }

 .footer_logo_div_paragrap {
     max-width: 262px;
     font-size: 14px;
     line-height: 1.5999999999999999em;
     color: #ffffff;
     padding-top: 24px;
     padding-bottom: 32px;
 }

 .footer_icons i {
     margin-right: 16px;
     border: solid 1px #dedde7;
     border-radius: 8px;
     padding: 14px;
 }

 .footer_icons i:hover {
     background-color: #7842E8;
 }

 .footer_second_div {
     display: flex;
     gap: 120px;
 }

 .Features_div h3,
 .product_div h3 {
     font-size: 20px;
     line-height: 1.4em;
     color: #f7f5ff;
     padding-bottom: 20px;
 }

 .Features_div p,
 .product_div p {
     font-size: 14px;
     line-height: 1.5999999999999999em;
     color: #e5e4ec;
     padding-bottom: 12px;
 }

 .roadmap_div h3 {
     font-size: 20px;
     line-height: 1.4em;
     color: #e9e6f7;
     padding-bottom: 20px;
 }

 .email_box {
     padding: 22px 20px;
     border: solid 1px #2d2ddf;
     background-color: #3469da;
     border-radius: 8px;
     /* padding-top: 20px; */
 }

 .email_box>p {
     padding-bottom: 12px;
     font-size: 16px;
     line-height: 1.6em;
     color: #fff;
 }

 .email_icons input {
     padding: 10px 174px 10px 12px;
     border: solid 1px #efeff0;
     border-radius: 8px;
     background-color: #3263ce;
 }

 .email_box {
     position: relative;
 }

 .email_icons i {
     position: absolute;
     right: 33px;
     top: 70px;
 }

 .last_flex {
     display: flex;
     justify-content: space-between;
     padding-top: 18px;
 }


 .policy {
     max-width: 182px;
     font-size: 13px;
     line-height: 1.5999999999999999em;
     color: #e2dddd;

 }

 .first_span {
     color: #5d15ee;
 }

 .last_btn {
     padding: 12px 16px;
     background-color: #322057;
     border-radius: 8px;
 }

 .last_btn a {
     font-size: 14px;
     line-height: 1.5999999999999999em;
     color: #fff;
 }

 .last_btn i {
     padding-left: 10px;
 }

 .last_footer p {
     text-align: center;
     font-size: 14px;
     line-height: 1.5999999999999999em;
     color: #000000;
     padding-bottom: 30px;
 }

 /* FOOTER section style end here */



 @import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

 body {
     font-family: Lato, sans-serif;
 }

 footer {
     max-width: 100%;

 }

 footer div {
     background-color: #4478e3;
     margin: -5px 0px 0px 0px;
     padding: 0px;
     color: #fff;
     text-align: center;
 }

 svg {
     width: 100%;
 }

 .arrow {
     stroke-width: .3px;
     stroke: yellow;
 }

 .topball {
     animation: ball 1.5s ease-in-out;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-delay: 0.3s;
     cursor: pointer;
 }

 .wave {
     animation: wave 3s linear;
     animation-iteration-count: infinite;
     fill: #4478e3;
 }

 .drop {
     fill: transparent;
     animation: drop 5s ease infinite normal;
     stroke: #4478e3;
     stroke-width: 0.5;
     opacity: .6;
     transform: translateY(80%);
 }

 .drop1 {
     transform-origin: 20px 3px;
 }

 .drop2 {
     animation-delay: 3s;
     animation-duration: 3s;
     transform-origin: 25px 3px;
 }

 .drop3 {
     animation-delay: -2s;
     animation-duration: 3.4s;
     transform-origin: 16px 3px;
 }

 .gooeff {
     filter: url(#goo);
 }

 #wave2 {
     animation-duration: 5s;
     animation-direction: reverse;
     opacity: .6
 }

 #wave3 {
     animation-duration: 7s;
     opacity: .3;
 }

 @keyframes drop {
     0% {
         transform: translateY(80%);
         opacity: .6;
     }

     80% {
         transform: translateY(80%);
         opacity: .6;
     }

     90% {
         transform: translateY(10%);
         opacity: .6;
     }

     100% {
         transform: translateY(0%) scale(1.5);
         stroke-width: 0.2;
         opacity: 0;
     }
 }

 @keyframes wave {
     to {
         transform: translateX(-100%);
     }
 }

 @keyframes ball {
     to {
         transform: translateY(20%);
     }
 }






 /*------------------------------- 
   Responsive For Tablet
-----------------------------*/

 @media (min-width:768px)and (max-width:1023px) {

     .nav_items ul li {
         padding-left: 20px;
     }

     .get_started_btn {
         padding: 10px 25px 10px 14px;
     }


     .boost_plan {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
     }

     .experence_and_overview {
         justify-content: center;
         align-items: end;
         gap: 27px;
     }

     .over_view_part img {
         max-width: 330px;
     }

     .trust_site_1 {
         position: relative;
         padding-left: 50px;
     }

     .experience_1 {
         max-width: 121px;
         left: -47px;
         top: -22px;
     }

     .trust_site_1 h2 {
         font-size: 18px;
     }

     .trust_site_1 p {
         font-size: 16px;
     }

     .trust_site_2 h2 {
         font-size: 18px;
     }

     .trust_site_2 {
         position: relative;
         padding-right: 48px;

     }

     .experience_2 {
         max-width: 121px;
         right: -48px;
         top: 29px;
     }

     .trust_site_2 p {
         text-align: right;
         font-size: 16px;
     }

     .trust_site_3 {
         padding-left: 50px;
     }

     .trust_site_3 h2 {
         font-size: 18px;

     }

     .experience_3 {
         max-width: 121px;
         position: absolute;
         top: 31px;
         left: -49px;
     }

     .bg>img {
         display: none;
     }


     .first_site {
         max-width: 300px;
     }

     .second_site {
         max-width: 300px;
     }


     .footer_items {
         flex-wrap: wrap;

     }

     .roadmap_div {
         padding-top: 50px;
     }

 }



 /* only_for section_6 */

 @media screen and (max-width: 767px) {
     .accordion {
         padding: 0 16px;
     }

     .accordion h1 {
         font-size: 22px;
     }
 }