 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,600;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
     text-decoration: none;

 }

 .container {
     max-width: 1200px;
     padding: 0 30px;
     margin: auto;
 }

 .nav_items {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 40px;
     padding-bottom: 40px;
 }

 .nav_logo {
     display: flex;
     align-items: center;
     gap: 5px;
     color: #7842E8;
 }

 .nav_logo img {
     max-width: 40px;
 }

 .nav_logo h2 {
     font-weight: 400;
 }

 .nav_items ul {
     list-style: none;
     display: flex;
 }

 .nav_items ul li {
     padding-left: 40px;
     position: relative;
 }

 .nav_items ul li a {
     color: #2E2E32;
 }

 .nav_items ul li a:hover {
     color: #020202;
 }

 .dropdown_menu {
     display: none;
 }

 .nav_items ul li:hover .dropdown_menu {
     display: block;
     position: absolute;
     left: 0;
     top: 100%;
 }

 .dropdown_menu ul {
     display: block;
     margin: 10px;
 }

 .dropdown_menu ul li a {
     color: #462a79;
 }


 .nav_btn {
     display: flex;
     gap: 24px;
     align-items: center;
 }

 .nav_btn>a {
     color: #2E2E32;
 }

 .get_started_btn {
     padding: 12px 48px 12px 24px;
     border: solid 1px #7842E8;
     border-radius: 10px;
 }

 .get_started_btn a {
     color: #7842E8;
 }

 .get_started_btn>i {
     padding-left: 8.17px;
     color: #7842E8;
 }



 /* Navbar style end here */

 /* Hero style start here */

 .hero_content {
     padding-top: 120px;
 }

 .sub_heading p {
     text-align: center;
     font-size: 18px;
     line-height: 1.6em;
     padding-bottom: 10px;
     color: #7842E8;
 }

 .main_heading h1 {
     max-width: 749px;
     margin: auto;
     font-size: 66px;
     text-align: center;
     line-height: 1.3em;
 }

 .hero_p p {
     max-width: 637px;
     margin: auto;
     font-size: 18px;
     line-height: 1.6em;
     color: #919099;
     padding-top: 20px;
     padding-bottom: 24px;
 }

 .hero_btn {
     display: flex;
     justify-content: center;
 }

 .hero_left_btn {
     padding: 8px 16px;
     background-color: #7842E8;
     border-radius: 60px;
 }

 .hero_left_btn a {
     color: #ffff;
 }

 .hero_right_btn {
     display: flex;
     align-items: center;
     padding: 0px 18px 0 0px;
     gap: 10px;
     border: solid 1px #7842E8;
     border-radius: 60px;
 }

 /* HERO TAB SITE */

 .hero_all_tabs {
     display: flex;
     /* gap: 30px; */
     justify-content: space-between;
     padding-top: 72px;
     padding-bottom: 160px;
 }

 .first_tab {
     /* max-width: 360px; */
     text-align: center;
     padding: 32px 26px;
     border: solid #fff;
     box-shadow: 0px 0px 12px;
     border-radius: 24px;
 }

 .first_tab_middil {
     /* max-width: 360px; */
     text-align: center;
     padding: 32px 26px;
     border-top: solid 5px #7842E8;
     box-shadow: 0px 0px 12px;
     border-radius: 24px;
 }

 .first_tab_middil {
     /* max-width: 360px; */
 }

 .first_tab_middil img {
     max-width: 127.44px;
     padding-bottom: 20px;
 }

 .first_tab_middil h3 {
     font-weight: 500;
     font-size: 20px;
     color: #7842E8;
     padding-bottom: 24px;
 }

 .first_tab i {
     color: #7842E8;
 }

 .first_tab img {
     max-width: 127.44px;
     padding-bottom: 20px;
 }

 .first_tab h3 {
     font-weight: 500;
     font-size: 20px;
     color: #7842E8;
     padding-bottom: 24px;
 }

 .price {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .price h2 {
     font-size: 50px;
 }

 .price p {
     font-size: 18px;
     color: #3e3e3f;
     padding-top: 8px;
     padding-bottom: 8px;
 }



 .hr {
     max-width: 308px;
     border: dashed 0.5px #505050;

 }


 .manage_calendars {
     display: flex;
     align-items: center;
     gap: 5px;
     padding-top: 24px;
     padding-bottom: 9.5px;
 }

 .time_and_bill {
     display: flex;
     align-items: center;
     gap: 5px;


 }

 .favorite {
     display: flex;
     align-items: center;
     gap: 5px;
     padding-top: 9.5px;
     padding-bottom: 32px;
 }

 .time_and_bill,
 .manage_calendars p {
     font-size: 16px;
     font-weight: 500;
 }

 .time_and_bill,
 .manage_calendars {
     color: #2E2E32;
 }

 .first_tab_btn_1 {
     display: inline-block;
     padding: 12px 24px;
     border: solid 1px #7842E8;
     border-radius: 50px;
     margin-top: 32px;


 }

 .first_tab_btn a {
     font-size: 18px;
     font-weight: 500;
 }


 .first_tab_btn_2 {
     display: inline-block;
     padding: 12px 24px;
     border: solid 1px #7842E8;
     background-color: #7842E8;
     border-radius: 50px;
 }

 .first_tab_btn_2 a {
     font-size: 16px;
     line-height: 1.2em;
     color: #fff;
     font-weight: 500;
 }

 /* Hero style start here */



 /* section_3 style start here */

 .main_header {
     text-align: center;
     font-size: 42px;
     line-height: 1.3em;
     color: #2E2E32;
     padding-bottom: 16px;
 }

 .main_paragrap {
     text-align: center;
     font-size: 16px;
     line-height: 1.6em;
     color: #919099;
 }

 .boost_plan {
     text-align: center;
     display: flex;
     align-items: center;
     gap: 29.33px;
     padding-top: 64px;
     padding-bottom: 160px;
 }

 .plan {
     padding: 30px 20px;
 }

 .plan:hover {
     border: solid 0px #fff;
     box-shadow: 0px 2px 18px;
     border-radius: 10px;
     transition: all .2s;
 }

 .plan h2 {
     font-size: 22px;
     line-height: 1.4em;
     color: #2E2E32;
     padding-top: 10px;
     padding-bottom: 12px;
 }

 .plan p {
     font-size: 14px;
     line-height: 1.5999999999999999em;
     color: #919099;
 }

 /* section_3 style end here */


 /* section_4 style start here */

 .section_4_main_header {
     text-align: center;
     font-size: 42px;
     line-height: 1.3em;
     color: #2E2E32;
 }

 .section_4_main_paragrap {
     max-width: 800px;
     margin: auto;
     text-align: center;
     font-size: 16px;
     line-height: 1.6em;
     color: #919099;
     padding-top: 16px;
     padding-bottom: 64px;
 }

 .experence_and_overview {
     display: flex;
     gap: 97px;
 }

 .experince_part {
     padding-top: 66px;
     position: relative;
 }

 .trust_site_1 {
     position: relative;
     padding-left: 98px;
 }

 .experience_1 {
     max-width: 158px;
     position: absolute;
     left: -32px;
     top: -32px;
     padding-bottom: 48px;
 }


 .trust_site_1 h2 {
     font-size: 20px;
     line-height: 1.4em;
     color: #2E2E32;
 }

 .trust_site_1 p {
     font-size: 16px;
     line-height: 1.6em;
     color: #919099;
     padding-top: 12px;

 }

 .trust_site_2 {}

 .trust_site_2 h2 {
     text-align: end;
     font-size: 20px;
     line-height: 1.4em;
     color: #2E2E32;
 }

 .trust_site_2 {
     position: relative;
     padding-right: 48px;
     padding-top: 48px;
 }

 .experience_2 {
     max-width: 158px;
     position: absolute;
     right: -95px;
     top: 29px;
 }

 .trust_site_2 p {
     text-align: right;
     font-size: 16px;
     line-height: 1.6em;
     color: #919099;
     padding-top: 12px;
 }

 .trust_site_3 {
     padding-left: 98px;
     position: relative;
     padding-top: 48px;
 }

 .trust_site_3 h2 {
     font-size: 20px;
     line-height: 1.4em;
     color: #2E2E32;
     padding-bottom: 12px;

 }

 .trust_site_3 p {
     font-size: 16px;
     line-height: 1.6em;
     color: #919099;

 }

 .experience_3 {
     max-width: 158px;
     position: absolute;
     top: 32px;
     left: -32px;
 }

 .bg>img {
     position: absolute;
     top: 148px;
     left: 36px;
 }


 .over_view_part img {
     max-width: 543px;
     min-height: 582.23px;
     padding-bottom: 160px;
 }


 /* section_4 style end here */



 /*------------------------------- 
   Responsive For Tablet
-----------------------------*/

 @media (min-width:768px)and (max-width:1023px) {

     .nav_items ul li {
         padding-left: 20px;
     }

     .get_started_btn {
         padding: 10px 25px 10px 14px;
     }


     .boost_plan {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
     }

     .experence_and_overview {
         justify-content: center;
         align-items: end;
         gap: 27px;
     }

     .over_view_part img {
         max-width: 330px;
     }

     .trust_site_1 {
         position: relative;
         padding-left: 50px;
     }

     .experience_1 {
         max-width: 121px;
         left: -47px;
         top: -22px;
     }

     .trust_site_1 h2 {
         font-size: 18px;
     }

     .trust_site_1 p {
         font-size: 16px;
     }

     .trust_site_2 h2 {
         font-size: 18px;
     }

     .trust_site_2 {
         position: relative;
         padding-right: 48px;

     }

     .experience_2 {
         max-width: 121px;
         right: -48px;
         top: 29px;
     }

     .trust_site_2 p {
         text-align: right;
         font-size: 16px;
     }

     .trust_site_3 {
         padding-left: 50px;
     }

     .trust_site_3 h2 {
         font-size: 18px;

     }

     .experience_3 {
         max-width: 121px;
         position: absolute;
         top: 31px;
         left: -49px;
     }

     .bg>img {
         display: none;
     }


 }